{{>header}}  
{{>menu}}
<div class="container">

    {{#mensaje}}
    <div class="alert alert-success text-center mt-2" role="alert">
       {{mensaje}}
    </div>
   {{/mensaje}}



    {{#error}}
    <div class="alert alert-danger text-center mt-2" role="alert">
        {{error}}
    </div>
    {{/error}}

    <div>
        {{^chequeo}}
        <div>
         {{#esClient}}
         <div class="alert alert-warning">Antes de Elegir viaje realizarse el: 
         <a  class="btn btn-primary btn-lg " role="button" aria-disabled="true" href="/Chequeo">CHEQUEO MEDICO</a>
     </div>
         {{/esClient}}
        
         </div>
         
         {{/chequeo}}
     <div>
         {{#chequeo}}
         <div class="alert alert-success mt-2">TU NIVEL DE VUELO ES: {{codigo}} </div>
         {{/chequeo}}
     </div> 
     </div>

     
       {{>vuelos}} 
     


</div>


{{> footer}}