{{>header}}
{{>menu}}
<h3>RESULTADO CHEQUEO</h3>

{{#usuario}}
<h6>Hola: {{usuario}}</h6>



{{^chequeo}}
<div class="alert alert-danger" role="alert">
  
  NO HAY TURNOS DISPONIBLES PARA ESTA FECHA <a href="/home" class="alert-link">Volver</a>. Muchas gracias!!!.
</div>


{{/chequeo}}

  
  


<div>

{{#chequeo}}
<div class="alert alert-success" role="alert">
  Hola {{usuario}} el resultado de su <a href="#" class="alert-link">Chequeo medico es {{chequeo}}</a>. Muchas gracias!!!.
</div>


  
{{/chequeo}}
</div>

{{/usuario}}
  <a href="/home" class="btn btn-primary">Volver al Menu</a>
</div>
</div>

{{>footer}}